# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Assignment 5 - week 10/AsteroidNBModules/Enemy/target/
/Assignment 5/AsteroidNBModules/application/target/
/Assignment 4 - week 9/AsteroidNBModules/Common/target/
/Assignment 4 - week 9/AsteroidNBModules/Core/target/
/Assignment 4 - week 9/AsteroidNBModules/Player/target/
/Assignment 4 - week 9/AsteroidNBModules/application/target/
/Assignment 4 - week 9/AsteroidNBModules/branding/target/
/Assignment 5 - week 10/AsteroidNBModules/branding/target/
/Assignment 5 - week 10/AsteroidNBModules/Asteroid/target/
/Assignment 5 - week 10/AsteroidNBModules/CommonBullet/target/
/Assignment 5 - week 10/AsteroidNBModules/CommonAsteroid/target/
/Assignment 5 - week 10/AsteroidNBModules/Bullet/target/
/Assignment 5 - week 10/AsteroidNBModules/CommonPlayer/target/
/Assignment 5 - week 10/AsteroidNBModules/CommonEnemy/target/
/Assignment 5 - week 10/AsteroidNBModules/mavenproject1/Collision/target/
/Assignment 5 - week 10/AsteroidNBModules/AsteroidSplitter/target/
/Assignment 6 - week 11/AsteroidsOSGi/OSGiCommon/target/
/Assignment 6 - week 11/AsteroidsOSGi/OSGiExtender/target/